###################
*.com
*.zip
*.log
*.sql
*.sqlite
.DS_Store
.DS_Store?
._*
__pycache__
__pycache__/
*.pyc
*.pyo
*secret.*
*secret.
secrets.sh
env
env/
*.jpg
*.gif
*.png
*.svg
*.ico
*.wmv
*.mpg
*.mpeg
*.mp4
*.mov
*.flv
*.avi
*.wav
*.mp3
*.wma
*.eot
*.ttf
*.woff
.vscode
