/* Nav Bar styling only */
.navbar-brand {
  font-family: "Comfortaa", cursive;

  font-size: 30px;
}

#journal-nav {
  margin-left: 580px;
}

.nav-link {
  font-family: "Hammersmith One", sans-serif;
  font-family: "Quantico", sans-serif;
}

/* Nav Bar styling only */
/* Nav Bar styling only */

h1 {
  text-align: center;
}
