/* Set alarm  */

/* Nav Bar styling only */
.navbar-brand {
  font-family: "Comfortaa", cursive;

  font-size: 30px;
}

#journal-nav {
  margin-left: 720px;
}

.nav-link {
  font-family: "Hammersmith One", sans-serif;
  font-family: "Quantico", sans-serif;
}

/* Nav Bar styling only */
/* Nav Bar styling only */

#set-alarm-time {
  text-align: center;
}

h1 {
  text-align: center;
}

/* BACKDROP */

body {
  /* background: linear-gradient(to right, #e0d2e9 0%, #ffffff 100%); */
  background: url("/static/alex-shutin-kKvQJ6rK6S4-unsplash.jpg") no-repeat
    center center;
  /* background-size: cover; */
}

.backdrop-background {
  background: #79a3b1;
  opacity: 0.9;
  /* top: 12%; */
  width: 600px;
  height: 600px;
  padding: 40px;
  border-radius: 555px;
  /* display: flex; */
  /* margin-left: auto; */
  text-align: center;
  margin-left: 420px;
  margin-top: 130px;
  font-family: "Signika", sans-serif;

  /* display: flex; */
}

.alarm-page {
  text-align: center;
  border-radius: 15px;
  font-family: "Signika", sans-serif;
  background: #fcf8ec;
  width: 400px;
  margin-top: 20px;
  margin-left: 520px;
}

#time-title {
  margin-bottom: 40px;
  margin-top: 50px;
  font-family: "Signika", sans-serif;
  font-size: 55px;
}

#alarm-wake {
  margin-bottom: 20px;
  font-size: 50px;
  background: #fcf8ec;
}

.btn-primary {
  margin-top: 30px;
  background: #31326f;
  font-size: 25px;
}
