/* Nav Bar styling only */
.navbar-brand {
  font-family: "Comfortaa", cursive;

  font-size: 30px;
}

#journal-nav {
  margin-left: 702px;
}

.nav-link {
  font-family: "Hammersmith One", sans-serif;
  font-family: "Quantico", sans-serif;
}

body {
  /* background: linear-gradient(to right, #e0d2e9 0%, #ffffff 100%); */
  background: url("/static/alex-shutin-kKvQJ6rK6S4-unsplash.jpg") no-repeat
    center center;
  /* background-size: cover; */
}

/* Nav Bar styling only */

.create-playlist {
  text-align: center;
}

.btn-primary {
  margin-left: 10px;
}

.backdrop-background {
  background: #d0e8f2;
  opacity: 0.9;
  /* top: 12%; */
  width: 700px;
  height: 1500px;
  padding: 40px;
  border-radius: 15px;
  /* display: flex; */
  /* margin-left: auto; */
  text-align: center;
  margin-left: 360px;
  margin-top: 20px;
  font-family: "Signika", sans-serif;
  font-size: 20px;

  /* display: flex; */
}

#video-title {
  font-family: "Signika", sans-serif;
  border-radius: 15px;
  background: #79a3b1;
}

.btn-primary {
  background: #31326f;
  border-radius: 20px;
  font-family: "Signika", sans-serif;
}
