<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      {% block title %}{% endblock %}
    </title>
    <!--NOTE: CSS, jQUERY, JS ; Double check if proper to inherit all from base.html!!-->
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/js/video_display.js"></script>

    {% block head %}{% endblock %}
  </head>
  <body>
 <!-- part flashed messages -->
    {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}
   <!-- part 4 -->

    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}
  </body>
</html>
