{% extends 'base.html' %}
{% block title %} Otium Time Homepage{% endblock %}

{% block head %}

<link rel="stylesheet" href="/static/css/homepage_styling.css">




{% endblock %}

{% block nav%} 

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Optium Time</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ambient Station 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Playlists</a>
            <a class="dropdown-item" href="#">Videos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>



{% endblock %}

{% block body %}

  
  <!-- <body class="container"></body> -->
  <div class="backdrop-background">
    <div class="homepage-form-text">
      <h1>Welcome!</h1>

      <h2>Navigation</h2>
      <ul>
        <li><a href="/users">View all users</a></li>
      </ul>

    <!-- part 4 -->
      <h2>Create an Account</h2>
      <form action="/users" method="POST">

        <p>
            First Name <input type="text" name="fname" required>
        </p>

        <p>
            Last Name <input type="text" name="lname" required>
        </p>

        <p>
            Email <input type="text" name="email" required>
        </p>

        <p>
            Password <input type="password" name="password" required>
        </p>

        <p>
          Timezone <select name="timezone" required>
              <option value="US/Central">Central</option>
              <option value="US/Easter">Eastern</option>
              <option value="US/Pacific">Pacific</option>
              <option value="US/Mountain">Mountain</option>
              <option value="US/Alaska">Alaska</option>
              <option value="US/Hawaii">Hawaii-Aleutian</option>

        </p>

        <p>
          <input type="submit">
        </p>
      </form>

      <h2>Log In</h2>
      <form action="/login">
        <p>
          Email <input type="text" name="login_email" required>
        </p>

        <p>
          Password <input type="password" name="login_password" required>
        </p>

        <p>
          <input type="submit">
        </p>
      </form>
      
    <!-- part 4 -->
    <!-- <div class = "background-opacity-container">
      
    </div> -->
    </div>
  </div>


{% endblock %} 

