{% extends 'base.html' %}
{% block title %} New Journal Page {% endblock %}

{% block head %}

  <link rel="stylesheet" href="/static/css/user_page_styling.css">

{% endblock %}


{% block nav%}  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Optium Time</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/user-page">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/journal/{{user_id}}">Journal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/set-alarm/{{user_id}}">Set Alarm</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sleep-log">Sleep Log</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/video-playlist/{{user_id}}">Playlist/Videos</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ambient Station
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/current-playlist/{{user_id}}">Your Playlists</a>
          <a class="dropdown-item" href="/video-categories/{{user_id}}">Search Videos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
{% endblock %}


{% block body %}

<h2>Create a Journal Entry for User ID Number {{user_id}}</h2>
<form action="/journals/{{user_id}}" method="POST">

  <p>
      Entry Name <input type="text" name="entry-name" maxlength = "50" required>
  </p>

  <p>
    <textarea id = "entry-details" name = "entry-details" rows = "5" cols = "30"> Enter Default Text Here </textarea>
  </p>


  <p>
    <input type="submit">
  </p>
</form>




{% endblock %}