{% extends 'base.html' %}
{% block title %} Sleep Search {% endblock %}


{% block nav%}  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Optium Time</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/user-page">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/journal/{{user_id}}">Journal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/set-alarm/{{user_id}}">Set Alarm</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sleep-log">Sleep Log</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/video-playlist/{{user_id}}">Playlist/Videos</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ambient Station
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/current-playlist/{{user_id}}">Your Playlists</a>
          <a class="dropdown-item" href="/video-categories/{{user_id}}">Search Videos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
{% endblock %}

{% block body %}

    <h1>3 Graphs generated for user id: {{user_id}}</h1>

    <h2>User's sleep log data:</h2>
    

    {% for date in converted_current_date %}
        <a href="/sleep-data-by-date/{{user_id}}/{{date}}">Current date: {{date}}</a></p>
     
 
    {% endfor %}

    <h2>Dates Grouped by 7:</h2>
    {% for dates in dates_grouped_by_seven %}
    <a href="/data-by-weekly-dates/{{user_id}}/{{dates}}">{{dates}}</a></p>
 

    {% endfor %}

    <h2>Search for Specific Date Grouped by 7??:</h2>
    <form action="/date-filter/{{user_id}}">

        <label>Find a Sleep Date</label>

        <label for="start">Start date:</label>

        <input type="date" id="start" name="date-start">
        
        

        <br>
        <input type="submit">

    </form>

    <h2>Search for Specific Month and Year:</h2>
    <form action="/month-filter/{{user_id}}">

        <label>Find a Sleep Information by Month/Year</label>

        <label for="start">Start month:</label>

        <input type="month" id="month" name="start-month">
        
        

        <br>
        <input type="submit">

    </form>




    
    <h2>Navigation</h2>
    <ul>
    <li><a href="/set-alarm/{{user_id}}">Set another alarm! (RETHINK THIS ROUTE)</a></li>
    <li><a href="/set-alarm/{{user_id}}">Hypnogram</a></li>
    <li><a href="/sleep-log/{{user_id}}">z</a></li>
    <li><a href="/video-playlist/{{user_id}}">View all playlists and videos</a></li>
    </ul>




{% endblock body%}