{% extends 'base.html' %}
{% block title %} User Options {% endblock %}

{% block body %}

    <h1>Welcome {{user.first_name}}</h1>

    <h2>Navigation</h2>
    <ul>
    <li><a href="/journal/{{user.user_id}}">View all journal entries</a></li>
    <li><a href="/set-alarm/{{user.user_id}}">Set alarm clock</a></li>
    <li><a href="/sleep-log/{{user.user_id}}">View all sleep log</a></li>
    <li><a href="/video-playlist/{{user.user_id}}">View all playlists and videos</a></li>
    </ul>




{% endblock body%}