{% extends 'base.html' %}
{% block title %} Video Displays {% endblock %}


{% block nav%}  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Optium Time</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/user-page">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/journal/{{user_id}}">Journal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/set-alarm/{{user_id}}">Set Alarm</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sleep-log">Sleep Log</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/video-playlist/{{user_id}}">Playlist/Videos</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ambient Station
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/current-playlist/{{user_id}}">Your Playlists</a>
          <a class="dropdown-item" href="/video-categories/{{user_id}}">Search Videos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
{% endblock %}

{% block body %}
   

    <h1>Video Display Selection for User Number: {{user_id}}</h1>




    
    

    <form action="/register-videos/{{user_id}}" method="POST">
        <label>Choose Video for Playlist </label>

        {% for video in display_videos %}


        <br>
        
        <p>{{video[0]}}</p>
        <iframe width="420" height="345" src="https://www.youtube.com/embed/{{video[1]}}">
        </iframe>

        <!-- <div class = "but-checkbox"> -->
        <input type="checkbox" name="video-list" value= {{video[1]}}>
        <!-- </div> -->

        <br>
        

        {% endfor %}


        <br>
        <label>Enter the name for your Playlist</label>
        <input type="text" name="playlist-name" required> 
        <br>

        <input type="submit">

    </form>




{% endblock body%}